body {
    background-color: #e4e4e4;
}

.center {
    margin: auto;
}

/*.container .row {
    height: calc(100vh - 95px);
}*/

.row {
    margin: 20px 0;
}

.footer > nav > span {
    font-size: 9px;
}

#player, .controls {
    border-color: red;
    border-style: solid;
    box-sizing: border-box;
}

.controls {
    color: red;
    margin: 0;
    padding: 20px 0;
    border-style: none;
    border-top-style: solid;
}

.play-pause, .stop, .volume {
    width: 40px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
    float: left;
    line-height: 30px;
}

.progress {
    width: 100%;
    height: 30px;
    cursor: pointer;
    position: relative;
    border-style: solid;
}

.loaded-bar, .playback-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    background-color: red;
}

.loaded-bar {

    opacity: 0.4;
}

.playback-bar {

}